body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.vidcontainer h1 {
	text-align: left;
	padding-left: 2em;
}
h1 {
	font-weight: 700
}
.row {
	width: 100%;
	text-align: center;
	padding-bottom: 2em;
}
footer {
	text-align: center;
}
figure {
	width: 23%;
	display: inline-block;
}
figcaption{
	caption-side:bottom}
.lead {
	padding-left: 5em;
}